.container {
  max-width: 90%;
}
/*
 * Custom font
 */

body, #images, #images a {
   font: 'roboto';
   background: #484f58;
   color:#f2f2f2;
}
/*
 * Styling for nav bar
 */
.nav-link:hover{
    color:white !important;
}
a.nav-link
{
    position: relative;
}
a.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
/*
 * Custom site header
 */
.featurette-heading {
    font-weight: 500 !important;
}
.fw-light{
    font-weight: bold !important;

}

.footer-buttons{
    fill: #f2f2f2;
}
/*
 * Custom buttons
 */
.btn-outline-success{
    color:#32CD32;
    border-color: #32CD32;
}
.btn-outline-success:hover{
    color:white;
}
.btn-outline-warning:hover{
    color:white;
}
/*
 * Featurettes
 */

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  color: white;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 50px;
    margin-top: 5rem;
  }
}

